# Node.js dependencies
node_modules/

# All JavaScript files except dist/extension.js
src/**/*.js
src/**/*.js.map
*.d.ts

# Build output
dist/*

# Log files
*.log

# Windows files
Thumbs.db

# VS Code workspace settings
.vscode/
.vscode-test/

# VS Code test results
coverage/

# Yarn
.yarn/
yarn-error.log

# npm
npm-debug.log
*.tsbuildinfo
*.vsix


